*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  outline: none;
}

h2 {
  font-weight: normal;
}

body.home {
  background: #fff; 
  resize: both;
  font-family: monospace;
  text-align:center;
}

body.toolbar {
  margin: 0 !important;
  padding: 0 !important;
  overflow:hidden;
  width: 95%;
  min-width: 400px;
}

table {
  margin:auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#login {
  display:block;
  margin:50px;
}

#login #msgNote {
  font-style: italic;
  color: grey;
}

#login #msgError {
  color: red;
}

#login input {
  font-family: monospace;
  display:block;
  padding:10px;
  border:none;
  border-bottom:1px dashed grey;
  background:rgba(255, 255, 255, 0.1);
  margin:5px auto;
  width:230px;
  height:35px;  
  color:black;
  font-size:14px;
}

#login button {
  height:40px;
  width:90px;
  border:none;
  background:#8ee002;
  border-radius:3px;
  color:white;
  cursor: pointer;
  font-size:14px;
  box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.3);
  transition: all 0.1s ease 0s;
}

#login button:hover {
  //background-color:#0099cc !important;
  box-shadow:none;
}

#tools input[type=radio] {
    display:none; 
    margin:1px;
}

#tools input[type=radio] + label, #tools button {
    display:inline-block;
    margin:-2px;
    padding: 0px;
    width:30px;
    height:30px;
    background-color: none;
    border: none;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align:center;
    line-height:46px;
    overflow:hidden;
}

#tools button {
    background-color: #b7b7b7; 
}

#tools button:disabled {
  opacity:0.5;
}

#tools label:hover{ 
    background-color:#e3ecfc;
    border-color:#bdd4f9;
}

#tools input[type=radio]:checked + label { 
    background-color:#bdd4f9;
    border-color:#99c0ff;
}

#tools span {
  display:inline-block;
  font-family: 'Lucida Console', serif;
  font-size: 14px;
  vertical-align: text-top;
  color: #111;
  line-height: 8px;
}

#tools input[type="number"]
{
  display:inline-block;
  margin:5px 5px;
  color:#111;
  font-size:14px;
  width:80px;
  height:18px;
  vertical-align: top;
}
